# Ignore Python bytecode files
*.pyc

# Ignore cache directories
**/__pycache__/

# Ignore configuration files and credentials
credentials.json

token.json
*.yaml
tmp.py
courser.py
main.py
credentials
runs/*
tmp.sh
